body{
    width: 700px;
    background-image: url(/img/image\ 6.png);
    position: relative;
    margin: 0 auto;
}
.atas{
    position: absolute;
    right: 0;
}
.login {
    position: absolute;
    right: 0; /* Tempatkan di sebelah kanan */
    top: 60px; /* Jarak dari atas */
}
.login1 {
    position: absolute;
    right: 20%; /* Tempatkan 20% dari kanan */
    top: 65px; /* Jarak dari atas */
}
body {
    background-image: url(/img/kantin-sekolah.jpg);
    background-size: cover;
}  