.qwerty {
    position: relative;
}
.border {
    border: 2px solid rgb(235, 235, 235);
    width: 379px;
    height: 499px;
    margin-left: 37%;
    top: 1px;
    margin-top: 64px;
    background-color: rgb(249, 246, 246);
    border-radius: 10px;
    position: absolute;

}
.logo {
    position: absolute;
    left: 70%;
    top: -13%;

}

#kotak {
    width: 285px;
    height: 32px;
    margin-top: 10px;
    background-color: rgb(75, 168, 137);
    border:2px;
    border-radius: 10px;
}

#ukuran {
    width: 209px;
    height: 18px;
    margin-top: 0px;
}

#size {
    width: 209px;
    height: 18px;
    margin-top: 0px;
}

#bentuk {
    width: 209px;
    height: 18px;
    margin-top: 0px;
}
.assds{
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 12%;
    margin-top: 64px;
}


body {
    background-image: url(img/kantin-sekolah.jpg);
    background-size: cover;
}