/* body {
    width: 100%;
    font-family: "Poppins", sans-serif;
  }

.footer {
    display: block;
    align-items: center;
    background-color: #1f4e58;
    color: white;
    padding: 50px 0;
    text-align: center;
  }
  
  .brand {
    margin-right: 36%;
    font-size: 64px;
    font-weight: 700;
    color: #efb47a;
    text-shadow: 20px 29px 0px 0px;
  }
  
  .tanya {
    font-size: 40px;
    font-weight: 500;
    width: 385px;
    margin-top: -20px;
    margin-left: 15%;
    text-align: left;
    line-height: 58px;
    letter-spacing: 0.3px;
  }
  .footer-col ul {
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin-top: 10%;
  }
  .footer-col li {
    margin-bottom: 12%;
  }
  .footer-col a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
  }
  .yuk {
    width: 600px;
  }
  
  .line {
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 40px;
    width: 100%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .watermark {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
  } */